
html * {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
}
a:link {
    text-decoration: none;
}

#appbar {
    height: 48px;
    background: rgb(55,55,55);
    box-shadow: 0px 0px 18px 0.1px #201818;
    border: 0.1px solid black;
    position: relative;
    min-width: 700px;
}

#title {
    color: grey;
    top: 8px;
    height: 30px;
    position: fixed;
    box-shadow: 0 0 13px 1px rgb(30,30,30) inset;
    padding: 2px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 30px;
    left: 0;
    display: flex;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    border-bottom: 2px solid #352a2a;
}

#content {
    background-size: cover;
    height: calc(100vh - 50px);
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0vw;
    top: 50px;
    background: linear-gradient(rgb(55, 55, 55), rgb(16, 16, 16));

}

#menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 80%;
    left: 20%;
    height: 100%;
    align-items:center;
    border: 1px solid rgba(0, 0, 0, 0.5)
}

.menu_item{
    padding-left: 24px;
    padding-right: 32px;
    color: rgb(180,180,180);
    cursor: pointer;
}

.menu_item:hover {
    color: rgb(210,210,210);
}

.automate_pic {
    background: linear-gradient(rgb(20,20,20),rgb(16,16,16));
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    font-family: impact;
    box-shadow: 0px 0px 2px 4px #2f2222;
}

#subtitle {
    font-size: 16px;
}

.text {
    height: 50vh;
    position: absolute;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    background: linear-gradient(rgb(40,40,40),rgb(20,20,20));
    box-shadow: 0px 0px 1px 1px black inset;
}

.paragraph {
    font-size: 18px;
    text-align: left;
    padding: 32px;
    border: 1px solid black;
    margin: 24px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0) inset;
    font-family: Courier;
    text-shadow: 0px 8px 4px black;
}